
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GassKen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <table width="100%" style="width: 100%">
        <tbody>
            <tr>
                <td align="center">
                    <img src="https://res.cloudinary.com/dgbbqp56b/image/upload/v1683087457/capstone/Cup_Cake_1_exbrvv.png"
                        style="width:250px; margin-bottom: 40px; margin-top: 40px" width="250px" />
                </td>
            </tr>
            <tr>
                <td>
                    <table width="570" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="font-size: 16px; color: black; margin-bottom: 30px">
                                        Anda telah meminta untuk mereset password
                                        Akun GassKen. Ikuti tautan di bawah ini untuk mengatur kata sandi baru:
                                    </p>
                                    <a href="{{url}}"
                                        style="font-size: 16px; background-color: #2F82FF; border-radius: 10px; text-decoration: none; color: white; padding: 10px; cursor: pointer; margin-top: 30px;">Reset
                                        Password</a>
                                    <p style="font-size: 16px; color: black; margin-top: 30px">jika kamu
                                        tidak ingin mengatur ulang kata sandi Anda, abaikan email ini dan no
                                        tindakan akan diambil.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>


